$color-accent: rgb(28, 122, 153);

body {
    font-family: sans-serif;
}

.main-section {
    margin-top: 150px;
}

.site-title {
    .title {
        font-weight: normal;
        margin-bottom: 40px;
    }
}

.features-list {
    display: flex;
    .features-item {
        width: 400px;
    }
}

.features-item {
    margin-bottom: 20px;

    .item {
        display: flex;
    }
    .featurelogo {
        font-size: 30px;
        color: white;
        background: $color-accent;
        border-radius: 50%;
        padding: 8px;
    }
    .wrapper {
        margin-left: 15px;
    }
    .title {
        color: $color-accent;
        font-weight: 800;
    }
    .decription {
        margin-top: 5px;
        font-size: 14px;
    }
}
.features-item {
    .fa-html5,
    .fa-font {
        padding: 8px 12px;
    }
}

._container {
    max-width: 1200px;
    margin: 0 auto;
}