a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    box-sizing: border-box
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFFFFF
}

a {
    text-decoration: none
}

.container {
    width: 1008px;
    margin: auto;
    padding-bottom: 100px
}

.header {
    font-size: 0
}

.header img {
    width: 100%
}

.text {
    font-size: 18px;
    color: #fff603;
    font-weight: 700;
    line-height: 1.4;
    margin: 10px 0
}

.thumbs {
    font-size: 0;
    margin: 2px 0;
    text-align: center
}

.thumb {
    display: inline-block;
    vertical-align: top;
    width: 122px;
    height: 162px;
    margin: 2px;
    border: 1px solid #fff
}

.thumb:hover {
    border: 1px solid #fff
}

.thumb img {
    width: 100% !important;
    height: auto !important
}

.hall-title {
    font-size: 0;
    margin-left: 2px
}

.hall-title.hall-main {
    max-width: 336px;
    margin-top: 2px
}

.hall-title.hall-today {
    max-width: 530px
}

.hall-title.hall-free {
    max-width: 410px
}

.hall-title img {
    width: 100%;
    height: auto
}

.top {
    max-width: 371px;
    margin: auto
}

.top img {
    width: 100%;
    height: auto
}

.top-list {
    padding: 0;
    list-style-type: none;
    margin: 0;
    -webkit-columns: 4;
    columns: 4;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column
}

.top-list li {
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.top-list li a {
    display: block;
    color: #fff;
    font-family: Arial;
    font-weight: 700;
    padding: 3px 0;
    font-size: 16px
}

.top-list li a:visited {
    color: #fff
}

.top-list li a:hover {
    text-decoration: underline;
    color: gold
}

.gallist {
    max-width: 600px;
    list-style-type: none;
    margin: 0 auto 30px
}

.gallist li a {
    display: block;
    color: #fff;
    font-family: Arial;
    font-weight: 700;
    padding: 2px 0;
    font-size: 16px
}

.gallist li a:visited {
    color: #fff
}

.gallist li a:hover {
    text-decoration: underline;
    color: gold
}

.pagination {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 100%;
    min-width: 0
}

.pagination a {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    padding: 0 5px;
    text-transform: uppercase;
    margin-bottom: 5px
}

.pagination a:visited {
    color: #fff
}

.pagination a:hover {
    text-decoration: underline;
    color: gold
}

h1 {
    font-size: 32px;
    font-weight: 700;
    color: #fff
}

h2,
h3 {
    font-size: 36px;
    font-weight: 700;
    color: #f26522;
    text-align: center;
    font-family: Geneva, Arial, Helvetica, san-serif;
    margin: 18px 0
}

h3 {
    font-size: 36px
}

@media screen and (max-width: 1030px) {
    .container {
        width: 100%;
        padding: 0 5px
    }

    .thumb {
        width: calc(12.5% - 4px);
        height: auto
    }
}

@media screen and (max-width: 908px) {
    .thumb {
        width: calc(14.28% - 4px);
        height: auto
    }
}

@media screen and (max-width: 790px) {
    .thumb {
        width: calc(16.66% - 4px);
        height: auto
    }

    .top-list {
        -webkit-columns: 3;
        columns: 3
    }
}

@media screen and (max-width: 670px) {
    .thumb {
        width: calc(20% - 4px);
        height: auto
    }
}

@media screen and (max-width: 550px) {
    .thumb {
        width: calc(25% - 4px);
        height: auto
    }

    .top-list {
        -webkit-columns: 2;
        columns: 2
    }
}

@media screen and (max-width: 430px) {
    .thumb {
        width: calc(33.33% - 4px);
        height: auto
    }
}

@media screen and (max-width: 310px) {
    .thumb {
        width: calc(50% - 4px);
        height: auto
    }

    .top-list {
        -webkit-columns: 1;
        columns: 1
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #00471a;
    display: block;
}

a:hover {
    color: #889644;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}

.banner {
    max-width: 470px;
    margin: 10px auto;
}

img {
    /* width: 100%; */
}
.container-center {
    display: flex;
    justify-content: center;
    min-height: 600px;
}

.link-items {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: masonry;
}

.link {
    display: block;

}

.link a {
    display: block;
    height: 100%;
    border: 1px solid #000;
}

.link a:hover {
    border: 1px solid #f26522;
}

.link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.ads {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.ads-block {
    margin: 10px;
}

.item-list1 img {
    max-width: 100%;
}

.item-list1 {
    text-align: center;
}

@media all and (min-width: 480px) {
    .link {
        /* width: 33.333%; */
    }
}

@media all and (min-width: 620px) {
    .link {
        /* width: 25%; */
    }
}

@media all and (min-width: 780px) {
    .link {
        /* width: 20%; */
        /* max-width: 174px; */
    }
}

/* .item-list1 {
    display: none;
} */


.grid-item {
    width: 200px;
    /* min-height: 132px; */
}

.grid-item--width2 {
    width: 400px;
}
