body {
    background-color: $color-grey;    
}


.background-composit {

}


.background-composit {
    .bottomobjectwrapper {
        text-align: right;
    }
    .topobject {
        max-width: 30%;
        margin-left: 48px;
    }
    .bottomobject {
        max-width: 20%;
        margin-right: 16px;
    }
}