*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.header_topline {
	background-color: #43484C;
	padding: 15px 0;
	color: #fff;
}
.header_topline a {
	color: #fff;
}
.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}
.top_links a {
	text-decoration: underline;
}
.top_links a:hover {
	text-decoration: none;
}
.soc_buttons {
	float: right; 
}
.soc_buttons > a {
	font-size: 24px;
	margin-left: 8px;
}
.auth_buttons {
	border: none;
	background-color: transparent;
	font-size: 24px;
}
.logo {
	display: block;
	padding: 15px 0;
	color: #fff;
	font-family: "NautilusPompiliusRegular";
	font-size: 40px;
	text-align: center;
}
.top_header	{
	background-color: #4AAAD2;
}
.main_mnu {
	background-color: #3799bf;
	color: #fff;
	margin-bottom: 20px;
}
.main_mnu a {
	color: #fff;
	padding: 15px;
	display: block;
	transition: .25s;
}
.main_mnu a:hover {
	background-color: #2787af;

}
.main_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
	z-index: 14;
}
.top_contacts {
	float: right;
	font-size: 30px;
	padding: 0 15px;
	background-color: #2787af;
	line-height: 52px;
	
}
.main_mnu ul li {
	display: inline-block;
}
.main_mnu_button {
	border: none;
	background-color: transparent;
	font-size: 24px;
	color: #fff;
	padding: 8px 15px 0;
}
h1 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoLight";
}
.slider_container {
	position: relative;
}
.slider_container img {
	max-width: 100%
}
.next_button,
.prev_button {
	color: #fff;
	font-size: 46px;
	position: absolute;
	z-index: 12;
	cursor: pointer;
	top: 50%;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
section.order {
	background-color: #eee;
	padding: 25px 0;
}
.sell_descr {
	font-size: 22px;
	padding-top: 5px;
}
.button {
	display: block;
	border: none;
	background-color: #2BC6A4;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
}
.button:hover {
	background-color: #4feac8;
}
.button:active {
	background-color: #14af8d;
}
.sell_right .button {
	float: right;
}
.hidden {
	display: none;
}
.pop_form input[type=text] {
	display: block;
	width: 90%;
	margin: 0 auto 12px;
	border: #999 3px solid;
}
.pop_form .button {
	margin: 15px auto 0;

}
.pop_form h3 {
	margin: 10px auto 15px;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	font-family: "RobotoRegular"
}
.blog_item img {
	max-width: 100%;
	margin-bottom: 20px;
}
.blog_item h3 {
	text-transform: uppercase;
	font-family: "RobotoRegular";
	margin-bottom: 10px;
}
.blog_item h3 a {
	text-decoration: underline;
}
.blog_item p {
	margin-top: 0;
}
.right_aside {
	padding: 15px 20px;
	border-radius: 5px;
	background-color: #eee;
	margin-top: 30px;
}
