body, html {
    height: 100%;
}

// TOP LINE
.home-header {
    background-color: $deep;
    height: 100%;
    color: #fff;
    padding-top: $size;
}

.top-line {
    position:absolute;
    top: 0;
    width: 100%;
    height: $size;
    border-bottom: 1px solid rgba(#fff, $border-opacity);
    z-index: 10;
    background-color: $deep;
    display: flex;
    align-items: center;
}

.logo {
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5em;
    text-decoration: none;
    transition: .25s ease-out;
    &:hover {
        color: $accent;
    }
}

.logo__img-wrapper {
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-btn-wrap {
    flex: 0 0 200px;
    text-align: right;
    position: relative;
    height: $size;
}

.menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: $size;
    height: $size;
    background-color: #3c3c3c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background .25s ease-out;
    &:hover {
        color: #fff;
        background-color: $accent;
    }
    .icon-menu {
        font-size: 28px;
    }
}

.top-line__decoration {
    flex: 1 0 0;
    text-align: center;
    &::before {
        content: '';
        width: 50px;
        height: 1px;
        position: relative;
        top: -4px;
        background-color: #fff;
        display: inline-block;
        opacity: $border-opacity*1.5;

    }
}

.top-line__contacts {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .4em;
    color: rgba(#fff, .5);
    display: flex;
    align-items: center;
}

.top-line__separator {
    width: 1px;
    height: 30px;
    background-color: rgba(#fff, $border-opacity*1.5);
    margin: 0 20px;
}

.top-line__numbers,
.top-line__text {
    margin-left: 6px;
    a {
        color: $accent;
    }
}
.top-line__numbers {
    color: $accent;
}
.top-line__text {
    color: rgba(#fff, .75);
}

// ASIDE

.home-header__content {
    height: 100%;
}
.home-aside {
    background-color: $dark;
    width: $size;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: $size;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.home-aside__decoration-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-aside__decoration {
    flex: 1 0 0;  
}

.home-aside__soc {
    flex: 1 0 0;
}

.soc-item {
    color: rgba(#fff, $border-opacity*1.5);
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(#fff, $border-opacity*1.5);
    margin-top: -1px;
    border-bottom: 1px solid transparent;
    transition: background .5s ease-out;
    &:last-child {
        border-bottom: 1px solid rgba(#fff, $border-opacity*1.5);
    }
    i {
        width: 16px;
        height: auto;
        max-height: 15px;
        transition: background .5s ease-out;
    }
    &:hover {
        background-color: $accent;
        color:#fff;
    }
}

.home-aside__share-icon {
    background-color: $accent;
    width: $size;
    flex: 0 0 $size;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container {
    padding-left: $size;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-bottom {
    position: absolute;
    bottom: 0;
    height: $size;
    display: flex;
    align-items: center;
    left: $size;
    z-index: 5;
    width: calc(75% - #{$size});
}
.slider-share {
    flex: 0 1 auto;
}
.slider-share__items {
    display: flex;
    position: relative;
}
.slider-share__item {
    width: $size;
    height: $size;
    border: none;
    background-color: $dark;
    border-right: 1px solid rgba(#fff, $border-opacity);
    &:last-child {
        border: none;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: $size;
            width: 3px;
            background-color: $accent;
        }
    }
}
.slider-img {
    height: 100%;
    width: 75%;
    overflow: hidden;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .20);
        z-index: 2;
    }
}
.slider-img__slide {
    height: 100%;
    overflow: hidden;
}
.slider-img__bg {
    height: 100%;
    background-position: center;
    background-size: cover;
}

.slider-text {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.slider-text__slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slider-text__content {
    text-align: right;
    padding-right: 22%;
}

.slider-text__heading {
    text-transform: initial;
    font-size: 60px;
    line-height: 120%;
    max-width: 800px;
    background-color:rgba(#000, .60);
    float: right;
    padding: 10px 20px;
    position: relative;
    width: 40%;

}
.slider-text__heading svg {
    width: 80px;
    height: 80px;
    vertical-align: text-top;
}
.slider-text__descr {
    float: right;
    clear: both;
    max-width: 500px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 15px;
    padding: 10px 20px;
}
.slider-text__link {
    float: right;
    clear: both;
    background-color: $accent;
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding: 14px 26px;
    font-weight: 800;
    text-decoration: none;
    transition: .4s ease-out;
    &:hover {
        color: #fff;
        text-decoration: underline;
        opacity: 0.8;
    }
}
.slider-pagination {
    flex: 0 0 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size;
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        opacity: 1;
        background-color: #fff;
        margin: 0 8px;
    }
    .swiper-pagination-bullet-active {
        background-color: $accent;
        position: relative;
        &::before {
            content: '';
            width: 14px;
            height: 14px;
            border: 1px solid $accent;
            position: absolute;
            border-radius: 100%;
            left: -4px;
            top: -4px;
        }
    }
}
.slider-scrollbar {
    flex: 1 0 0;
    .swiper-scrollbar {
        height: 1px;
        background-color:rgba(#fff, .2);
    }
    .swiper-scrollbar-drag {
        height: 3px;
        background-color: $accent;
        top: -1px;
    }
}
.slider-navigation-wrap {
    max-width: 70px;
    position: relative;
    margin: auto;
}
.slider-navigation {
    position: relative;
    flex: 0 0 140px;
    left: 10px;
    .swiper-button-prev,
    .swiper-button-next {
        width: 32px;
        height: 32px;
        color: $accent;
        background-color: #3c3c3c;
        border-radius: 100%;
        border: 2px solid $accent;
        top: 5px;
        &::after {
            font-size: 10px;
        }
        &.swiper-button-disabled {
            opacity: 1;
            color: #8a8a8a;
            border-color: #8a8a8a;
        }
    }
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next{
        right: 0;
    }
}
.slider-gear {
    width: 470px;
    height: 470px;
    position: absolute;
    top: 50%;
    margin-top: -270px;
    z-index: 2;
    opacity: $border-opacity;
    right: calc(24% - 235px);
}
.slider-pagination-count {
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: 100;
    width: 120px;
    height: 80px;
    font-weight: 700;
    font-size: 24px;
    .current {
        font-size: 40px;
        color: $accent;
        display: inline-block;
        min-width: 48px;
    }
}
.slider-pagination-current {
    right: 100px;
    bottom: 80px;
    position: absolute;
    font-size: 100px;
    color: $deep;
    -webkit-text-stroke: 1px #7f7f7f;
    &__dot {
        color: $accent;
        -webkit-text-stroke: 1px transparent;
    }
}