@font-face {
  font-family: 'ComicSans';
  src: url("../fonts/ComicSans.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'ComicSans';
  src: url("../fonts/ComicSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'ComicSans';
  src: url("../fonts/ComicSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'ComicSans';
  src: url("../fonts/ComicSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

$green: #2FEE06;
$dark-green: #1D740B;
$dark-green-second: #072B03;
$grey: #AFAFAF;

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font: 400 14px "ComicSans", sans-serif;
  box-sizing: border-box;
  color: #fff;
  letter-spacing: 1px;
}

p {
  line-height: 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  width: unset;
}

li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

main {
  height: 100%;
}

body {
  background: #000000;
  &.no-scroll {
    overflow: hidden;
    pointer-events: none;
    &:before {
      pointer-events: all;
      opacity: 0.6;
    }
  }
}

section {
  margin-bottom: 50px;
  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }
}

.only-m {
  @media (min-width: 1200px) {
    display: none !important;
  }
}

.burger {
  width: 44px;
  height: 38px;
  padding: 0;
  background: $green;
  margin-left: 6px;
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  @media (max-width: 1200px) {
    display: block;
  }
}

@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}

@media (max-width: 479px) {
  .burger {
    margin-right: 15px;
  }
}

.burger-brick {
  height: 2px;
  width: 18px;
  background: #000;
  margin: 0 auto;
  -webkit-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
}

.burger-brick:first-child {
  margin-top: 0;
}

.burger-brick.middle {
  margin: 4px auto;
}

.container {
  max-width: 1695px;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 290px;
  width: 100%;
  position: relative;
  @media (max-width: 1024px) {
    padding: 0 10px;
  }
}

.header {
  padding: 14px 0;
  margin-bottom: 10px;
  @media (max-width: 1024px) {
    padding: 10px 0;
  }
  &.active {
    pointer-events: all;
    .burger {
      .burger-brick {
        &:first-child {
          transform: rotate(405deg);
        }
        &:last-child {
          transform: rotate(-405deg);
          margin-top: -11px;
        }
        &.middle {
          transform: scale(0);
        }
      }
    }

    .header-nav .nav {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .logo-images {
    margin: 0 30px 0 0;
    img.last-img {
      @media (min-width: 1025px) and (max-width: 1200px) {
        top: -10px;
      }
    }
    @media (max-width: 1024px) {
      position: relative;
      margin: 0 auto 40px;
      max-width: 450px;
      .logo-images-wrap {
        position: static;
      }
      .logo-slogan {
        position: absolute;
        left: 50%;
        bottom: -16px;
        transform: translate(-50%, 100%);
        padding: 0;
        text-align: center;
        margin: 0;
        font-size: 15px;
      }
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
    @media (max-width: 576px) {
      max-width: 355px;
      margin-bottom: 40px;
      .logo-slogan {
        font-size: 15px;
      }
    }
    @media (max-width: 420px) {
      max-width: 300px;
      margin-bottom: 40px;
      .logo-slogan {
        font-size: 13px;
      }
    }
  }

  .header-top {
    display: grid;
    grid-template-columns: 1.5fr 1.3fr auto;
    margin-bottom: 20px;
    @media (max-width: 1200px) {
      grid-template-columns: 48.5% 150px;
      justify-content: space-between;
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      margin-bottom: 10px;
      .img {
        display: none;
      }
    }
  }

  .header-info {
    padding-top: 10px;
    margin-right: 5px;
    @media (max-width: 1200px) {
      display: none;
    }
    .socials {
      margin-top: 10px;
    }
    p {
      line-height: 21px;
      color: $grey;
    }
  }

  .header-img-real {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      &:first-child {
        width: 107px;
        margin-bottom: 5px;
      }
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr auto;
    background: #171717;
    .nav {
      .header-img-real, .socials {
        display: none;
      }
      @media (max-width: 1199px) {
        transition: .3s;
        position: absolute;
        top: 100%;
        left: 15px;
        z-index: 11;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        background-color: #171717;
        width: calc(100% - 30px);
        text-align: center;
        -webkit-box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
        opacity: 0;
      }
      @media (max-width: 1024px) {
        width: calc(100% - 20px);
        left: 10px;
        height: calc(100vh - 190px);
        overflow-y: auto;
        padding-bottom: 150px;
        .header-img-real, .socials {
          display: flex;
          justify-content: center;
        }
      }
      @media (max-width: 576px) {
        height: calc(100vh - 170px);
      }
      @media (max-width: 420px) {
        height: calc(100vh - 160px);
      }
    }
  }

  .header-search {
    display: grid;
    width: 100%;
    max-width: 350px;
    height: 38px;
    border-radius: 4px;
    overflow: hidden;
    margin: 6px;
    grid-template-columns: 1fr 48px;
    @media (max-width: 1600px) {
      max-width: 270px;
    }
    @media (max-width: 576px) {
      max-width: 240px;
    }
    @media (max-width: 420px) {
      max-width: 210px;
    }
    input {
      height: 100%;
      border: none;
      border-right: 1px solid #000;
      border-radius: 0px;
      padding: 5px 15px;
      color: #000
    }
    .search-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background: linear-gradient(180deg, #E9E8E8 0%, #B4B4B4 100%);
      border: none;
      box-shadow: none;
      .svg-icon {
        width: 18px;
        height: 18px;
        display: block;
      }
    }
  }

  .navbar {
    display: flex;
    gap: 0 1px;
    height: 50px;
    @media (max-width: 1024px) {
      flex-direction: column;
      height: initial;
      align-items: flex-start;
      gap: 60px;
      margin-bottom: 30px;
      padding: 42px 0px 50px;
    }
    .nav-link {
      display: inline-grid;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 0 37px;
      grid-template-columns: 30px auto;
      position: relative;
      border-bottom: 2px solid transparent;
      @media (max-width: 1600px) {
        gap: 10px;
        padding: 0 20px;
      }
      @media (max-width: 1024px) {
        gap: 15px;
      }
      @media (min-width: 1025px) {
        &:hover {
          .nav-text {
            color: #fff;
          }
        }
      }
      &.active {
        @media (min-width: 1025px) {
          background: #000;
          border-color: $green;
        }
        .nav-text {
          color: #fff;
        }
      }
      @media (min-width: 1025px) {
        &:not(:last-child) {
          &:before {
            content: '';
            display: block;
            position: absolute;
            right: 1px;
            top: 0;
            width: 1px;
            height: 100%;
            background: $grey;
          }
        }
      }
      .svg-icon {
        width: 25px;
        height: 25px;
        display: block;
      }
      .nav-text {
        font-weight: 700;
        color: $grey;
        font-size: 20px;
        transition: .3s;
        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1024px) {
          font-size: 20px;
          font-weight: 700;
          padding: 0;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .socials {
      margin-bottom: 55px;
    }
  }
}

.logo-images {
  display: grid;
  grid-template-columns: 26% 61% 17%;
  align-items: flex-start;
  height: fit-content;

  .logo-images-wrap {
    margin-left: -35px;
    margin-top: auto;
    position: relative;
    z-index: 1;
  }

  img {
    width: 100%;
    position: relative;

    &.first-img {
      z-index: 2;
    }

    &.last-img {
      position: relative;
      align-items: center;
      width: 100%;
      top: 5px;
      left: -15px;
      @media (max-width: 1024px) {
        top: 12px;
        left: -10px;
      }
      @media (max-width: 420px) {
        top: 10px;
        left: -4px;
      }
    }
  }

  .logo-slogan {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $green;
    align-items: flex-start;
    margin-top: 10px;
    padding-left: 40px;
    letter-spacing: 0.6px;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: 1600px) {
      font-size: 16px;
      padding-left: 0px;
    }
    @media (min-width: 1025px) and (max-width: 1200px) {
      width: calc(100% + 50px);
    }
  }
}
.logo {
  position: relative;
}

.socials {
  display: grid;
  grid-template-columns: fit-content(100%) 151px;
  gap: 25px;
  align-items: center;
  span {
    font-size: 14px;
  }
  .social-links {
    flex-shrink: 0;
  }
}

.info-video {
  text-align: center;
  margin-bottom: 25px;
  @media (max-width: 767px) {
    display: none;
  }
  .info-green p {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    color: $green;
  }
  .info-white p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #FFFFFF;
  }
}

.heading {
  background: $dark-green;
  padding: 1px 22px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 1px 15px;
  }
  .heading-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1.6px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    padding: 3px 0;
    @media (max-width:1024px) {
      font-size: 25px;
      line-height: normal;
    }
    @media (max-width: 576px) {
      font-size: 21px;
    }
    .icon-heading {
      content: '';
      width: 50px;
      height: 35px;
      margin-right: 20px;
      display: block;
      background-position: center;
      background-size: contain;
      background-image:url("../img/gif/dinkdonk.gif")
    }
  }
  .heading-bookmarks-img {
    margin: 0 -10px 0 0;
    display: flex;
    gap: 0 20px;
    padding: 3px;
    align-items: center;
    @media (max-width: 1024px) {
      justify-content: center;
      margin: 0 0 5px;
      gap: 0 15px;
    }
    @media (max-width: 420px) {
      gap: 0 10px;
    }
    .heading-bookmarks-text {
      font-size: 18px;
      font-weight: 700;
      -webkit-text-stroke: 1px black;
      color: $green;
      padding-top: 5px;
      text-align: center;
    }
    img {
      max-width: 107px;
      width: 100%;
      @media (max-width: 1024px) {
        max-width: 96px;
      }
      @media (max-width: 420px) {
        max-width: 60px;
      }
    }
  }
}

.thumbs-wrap {
  background: $dark-green-second;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  gap: 10px;
  padding: 15px;
  @media (min-width: 1025px) {
    .thumb {
      &:not(.thumb-video) {
        .thumb-link {
          &:hover {
            .img {
              border-color: #2fee06;
            }

            .thumb-title {
              color: #fff;
            }
          }
        }
      }
    }

    .thumb-video {
      .thumb-link {
        &:hover {
          .img {
            border-color: #2fee06;
          }

          .thumb-title {
            color: $green;
          }

          .thumb-tag {
            background: #1D740B;
            color: #fff;
          }
        }
      }
    }
  }
  .thumb-video {
    .thumb-info {
      display: flex;
      padding: 4px 9px;
      justify-content: space-between;
      align-items: center;
    }
    .thumb-title {
      color: #fff;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 400;
      font-size: 14px;
    }
    .thumb-tag {
      font-weight: 400;
      font-size: 14px;
      color: #000;
      background: $green;
      padding: 5px;
      transition: .3s;
    }
    .thumb-time {
      font-weight: 700;
      font-size: 12px;
      color: $grey;
    }
  }
  @media (max-width: 1600px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .img {
    position: relative;
    width: 100%;
    padding-bottom: 56.5%;
    display: block;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 3px;
    transition: .3s;
    border: 1px solid transparent;
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
    }
  }
  .thumb-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $green;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 3px;
    transition: .3s;
  }
  .thumb-value {
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: $grey;
    display: block;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  gap: 1px;
  li {
    @media (max-width: 1024px) {
      &:nth-child(9) {
        display: none;
      }
    }

    @media (max-width: 767px) {
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7){
        display: none;
      }
    }
    @media (max-width: 380px) {
      &:nth-child(4) {
        display: none;
      }
    }
    &.disabled {
      pointer-events: none;
      a, span {
        transform: rotate(180deg);
        color: $grey;
        .svg-icon {
          stroke: $grey;
        }
      }
    }
    &.page-current {
      a, span {
        background-color: $grey;
        color: #171717;
        pointer-events: none;
      }
    }
  }
  .svg-icon {
    transition: .3s;
  }
  li, .page-current {
    &:not(&.prev),
    &:not(&.next) {
      padding-top: 2px;
    }
    span, a {
      border-radius: 10px;
      overflow: hidden;
      padding: 0 10px;
      min-width: 44px;
      height: 44px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      background: #171717;
      flex: none;
      order: 0;
      flex-grow: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
      @media (min-width: 1025px) {
        &:hover {
          .svg-icon {
            stroke: $green;
          }
          color: $green;
        }
      }
      @media (max-width: 380px) {
        font-size: 14px;
        padding: 0 15px;
        height: 40px;
        min-width: 40px;
      }
      .svg-icon {
        width: 18px;
        stroke: #fff;
        height: 14px;
      }
    }
  }
}

.block-categories {
  .categories-alphabet-letters {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    border: 1px solid $green;
    padding: 10px;
    margin-bottom: 15px;
    .item-alphabet-letter {
      background: #171717;
      display: block;
      color: #fff;
      cursor: pointer;
      font-weight: 700;
      padding: 13px 18px;
      border-radius: 10px;
      overflow: hidden;
      transition: .3s;
      font-size: 16px;
      border: none;
      box-shadow: none;
      @media (min-width: 1025px) {
        &:hover {
          color: $green;
        }
      }
      &.active {
        background: $grey;
        pointer-events: none;
        color: #171717;
      }
    }
  }
  .item-category {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .letter-category {
      display: block;
      font-weight: 400;
      font-size: 30px;
      line-height: 42px;
      color: #FFFFFF;
      padding: 0 15px;
      margin-bottom: 10px;
      @media (max-width: 1024px) {
        font-size: 26px;
      }
    }
    .list-categories {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 2px 8px;
      @media (max-width: 1600px) {
        grid-template-columns: repeat(5, 1fr);
      }
      @media (max-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 650px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 420px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .link-category {
      text-align: center;
      border: 1px solid $green;
      padding: 8px 5px;
      transition: .3s;
      @media (min-width: 1025px) {
        &:hover {
          background: #072B03;
          .name-category {
            color: #fff;
            text-decoration: none;
          }
        }
      }
      .name-category {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        text-decoration-line: underline;
        color: #2FEE06;
        transition: .3s;
        @media (max-width: 1024px) {
          font-size: 14px;
        }
      }
      .value-category {
        display: block;
        font-weight: 700;
        font-size: 12px;
        line-height: 17px;
        color: #AFAFAF;
      }
    }
  }
}

.list-sites {
  background: $dark-green-second;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px 23px;
  position: relative;
  padding: 12px 10px 15px;
  @media (max-width: 1600px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 420px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .item-sites {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2FEE06;
    padding-left: 26px;
    position: relative;
    transition: .3s;
    @media (min-width: 1025px) {
      &:hover {
        color: #fff;
      }
    }

    @media (max-width: 1024px) {
      font-size: 14px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 1px;
      top: 4px;
      width: 15px;
      height: 15px;
      display: block;
      background-position: center;
      background-size: contain;
      background-image:url("../img/gif/casette.gif")
    }
  }
}

.wrap-footer {
  display: grid;
  grid-template-columns: 1fr 2.7fr;
  gap: 20px 45px;
  padding: 10px 0;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1.5fr;
  }
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  .logo-slogan-footer {
    color: $green;
    display: block;
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
    font-size: 18px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  .col-2 {
    padding-top: 10px;
  }
  .socials {
    justify-content: center;
  }

  .logo-images {
    @media (max-width: 1024px) {
      max-width: 450px;
      margin: 0 auto;
    }

    img.last-img {
      top: 10px;
      left: -5px;
      @media (min-width: 421px) and (max-width: 1024px) {
        top: 15px;
      }
    }
  }

  .foot-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $grey;
    margin-bottom: 20px;
  }
  .brand {
    display: grid;
    grid-template-columns: 120px 120px;
    gap: 30px;
    margin-bottom: 22px;
  }
}

.nav-footer {
  display: flex;
  align-items: center;
  gap: 10px 30px;
  flex-wrap: wrap;
  .nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2FEE06;
    transition: .3s;
    @media (min-width: 1025px) {
      &:hover {
        color: #fff;
      }
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}