@font-face {
  font-family: 'ComicSans';
  src: url("../fonts/ComicSans.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'ComicSans';
  src: url("../fonts/ComicSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'ComicSans';
  src: url("../fonts/ComicSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'ComicSans';
  src: url("../fonts/ComicSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

$blue: #4200FF;
$red: #FF0000;
$light-yellow: #FDFFD0;
$yellow: #F6F897;
$grey: #232323;
$light-grey: #AFAFAF;

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font: 400 14px "ComicSans", sans-serif;
  box-sizing: border-box;
  color: #000;
  letter-spacing: 1px;
}

p {
  line-height: 20px;
  letter-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  width: unset;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

main {
  height: 100%;
}

body {
  background: #F6F897;
  &.no-scroll {
    overflow: hidden;
    pointer-events: none;
    &:before {
      pointer-events: all;
      opacity: 0.6;
    }
  }
}

section {
  margin-bottom: 50px;
  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }
}

.burger {
  width: 52px;
  height: 42px;
  padding: 0;
  background: #fcff3b;
  border: 1px solid #000;
  display: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  z-index: 2;
  flex-shrink: 0;
  @media (max-width: 1200px) {
    display: block;
  }
  @media (max-width: 767px) {
    right: 15px;
    left: auto;
    top: 45px;
  }
  .burger-brick {
    height: 2px;
    width: 21px;
    background: #000;
    margin: 0 auto;
    -webkit-transition: .4s ease-out;
    -o-transition: .4s ease-out;
    transition: .4s ease-out;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    &:first-child {
      margin-top: 0;
    }

    &.middle {
      margin: 4px auto;
    }
  }
}


.ads {
  width: 679px;
  max-width: 100%;
  margin: 0 auto 50px;
  height: 80px;
  overflow: hidden;
  position: relative;
  img {
    width: 679px;
    min-width: 679px;
    height: 80px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
  }

  @media (max-width: 576px) {
    margin: 0 auto 15px;
  }
}

.container {
  max-width: 1695px;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 290px;
  width: 100%;
  position: relative;
  @media (max-width: 767px) {
    padding: 0 10px;
  }
}

.blockquote-block {
  margin-bottom: 45px;
  .block-info {
    position: relative;
    width: calc(100% - 6px);
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background: #000;
      opacity: 0.4;
      position: absolute;
      left: 6px;
      top: 6px;
      z-index: 1;
    }
    .wrap-text {
      border: 1px solid #0F1014;
      border-radius: 3px;
      padding: 23px 28px 35px;
      background: #fff;
      position: relative;
      z-index: 2;

      p {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  .star-item {
    display: flex;
    align-items: center;
    justify-content: center;
    &.disabled {
      opacity: 0.4;
    }
  }
}

.thumbs-wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  gap: 10px 3px;
  @media (max-width: 1600px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 3px;
  }
  .thumb {
    background: $light-yellow;
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    overflow: hidden;
    transition: .3s;
    @media (min-width: 1025px) {
      &:hover {
        background: $yellow;
        border-color: #000;
        .thumb-title {
          color: $red;
        }
      }
    }
    &.thumb-video {
      .thumb-info {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 5px;
      }
      .thumb-site {
        color: #4200FF;
        font-size: 14px;
        font-weight: 500;
      }
      .thumb-title {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
      }
    }
    .thumb-time {
      font-weight: 700;
      font-size: 12px;
      color: $light-grey;
      text-align: right;
    }
    .thumb-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      align-items: center;
      padding: 5px;
    }
    .img {
      position: relative;
      width: 100%;
      padding-bottom: 56.5%;
      display: block;
      border-radius: 3px;
      border: 1px solid #000;
      overflow: hidden;
      margin-bottom: 3px;

      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
      }
    }

    .thumb-title {
      font-weight: 700;
      font-size: 16px;
      text-align: left;
      transition: .3s;
    }

    .thumb-value {
      font-weight: 700;
      font-size: 12px;
      text-align: right;
      color: $blue;
    }
  }
}

.footer {
  background: $light-yellow;
  .block-update {
    @media (max-width: 767px) {
      margin: 0 auto;
    }
    .update-info-text {
      top: 21%;
      transform: translateY(0);
      .data-update {
        margin-bottom: 0;
      }
    }
  }
  .wrap-footer {
    display: grid;
    grid-template-columns: 0.7fr 1fr 2.2fr;
    gap: 20px 30px;
    padding: 10px 0;

    @media (max-width: 1400px) {
      grid-template-columns: 1fr 1fr 1.5fr;
    }

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    .col-1 {
      @media (max-width: 1024px) {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      @media (max-width: 767px) {
        .slogan {
          order: 1;
        }
        .logo {
          order: 3;
        }
      }
      @media (max-width: 576px) {
        .logo {
          max-width: 200px;
        }
      }
    }
    .col-3 {
      @media (min-width: 768px) and (max-width: 1024px) {
        grid-column: span 2;
      }
    }

    .socials {
      margin-top: 22px;
      justify-content: center;
      @media (max-width: 767px) {
        order: 2;
      }
      @media (max-width: 576px) {
        margin-bottom: 20px;
      }
    }

    .foot-info {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $grey;
      margin: 10px 0 15px;
      @media (max-width: 1024px) {
        p {
          text-align: center;
        }
      }
    }
    .brand {
      display: grid;
      grid-template-columns: 120px 120px;
      gap: 30px;
      margin-bottom: 22px;
      @media (max-width: 1024px) {
       justify-content: center;
      }
    }
  }
}

.nav-footer {
  display: flex;
  align-items: center;
  gap: 10px 25px;
  flex-wrap: wrap;
  @media (max-width: 1024px) {
    justify-content: center;
  }
  .nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    transition: .3s;
    @media (min-width: 1025px) {
      &:hover {
        color: $red;
      }
    }
  }
}

.logo {
  display: inline-block;
}

.block-update {
  position: relative;
  overflow: hidden;
  max-width: 410px;
  min-width: 400px;
  margin-top: auto;
  @media (max-width: 576px) {
    min-width: 300px;
    max-width: 338px;
  }
  .update-info-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 35px;
    text-align: center;
    max-width: 190px;
    @media (max-width: 767px) {
      right: 50px;
    }
    @media (max-width: 576px) {
      right: 6vw;
      top: 39px;
      transform: translate(0, 0);
    }
    @media (max-width: 420px) {
      right: 10vw;
    }
    .title-update {
      font-weight: 700;
      font-size: 16px;
      color: $red;
      display: block;
      @media (max-width: 767px) {
        font-size: 15px;
      }
      @media (max-width: 420px) {
        font-size: 13px;
      }
    }
    .data-update {
      font-weight: 700;
      font-size: 22px;
      display: block;
      letter-spacing: 1px;
      margin-bottom: 5px;
      @media (max-width: 767px) {
        font-size: 20px;
      }
      @media (max-width: 576px) {
        margin-bottom: 0;
        line-height: 1;
      }
      @media (max-width: 420px) {
        font-size: 16px;
      }
    }
    .desc-update {
      font-weight: 400;
      font-size: 13px;
      display: block;
      max-width: 130px;
      margin: 0 auto;
      @media (max-width: 420px) {
        font-size: 12px;
        line-height: 1;
      }
      strong, a {
        font-size: inherit;
        font-weight: inherit;
        color: $red;
      }
    }
  }
}

.slogan {
  font-weight: 700;
  font-size: 12px;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.header {
  background: $light-yellow;
  padding-top: 8px;
  margin-bottom: 20px;
  @media (max-width: 576px) {
    margin-bottom: 5px;
  }
  &.active {
    pointer-events: all;
    .burger {
      .burger-brick {
        &:first-child {
          transform: rotate(405deg);
        }
        &:last-child {
          transform: rotate(-405deg);
          margin-top: -11px;
        }
        &.middle {
          transform: scale(0);
        }
      }
    }

    .header-nav {
      .nav {
        transform: translateY(0);
        opacity: 1;
      }
      > .header-search {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  .header-top {
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 172px;
    gap: 10px;

    @media (max-width: 1600px) {
      grid-template-columns: 1fr 1.5fr 2fr 130px;
    }
    @media (max-width: 1400px) {
      grid-template-columns: 1fr 1.5fr 2fr;
    }
    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      position: relative;
      padding-top: 35px;
    }

    @media (max-width: 576px) {
      padding-top: 25px;
      gap: 0;
    }
  }

  .header-nav-wrap {
    position: relative;
    @media (max-width: 767px) {
      position: static;
    }
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr auto;
    background: #171717;
    position: relative;
    z-index: 1;
    gap: 0 10px;
    @media (max-width: 1200px) {
      justify-content: flex-end;
      grid-template-columns: 1fr;

    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      background: #171717;
      display: block;
      height: 100%;
      width: calc(100% + 500px);
    }
    .nav {
      .img, .socials {
        display: none;
      }
      @media (max-width: 1199px) {
        transition: .3s;
        position: absolute;
        top: 100%;
        left: 15px;
        z-index: 11;
        transform: translateY(-100%);
        flex-direction: column;
        padding: 5px 0 0;
        background-color: #171717;
        width: calc(100% - 30px);
        text-align: center;
        opacity: 0;
        &:before {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateY(-50%);
          top: 0;
          background: #171717;
          display: block;
          height: 100%;
          width: calc(100% + 500px);
        }
      }
      @media (max-width: 1024px) {
        -webkit-box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
        width: calc(100% + 30px);
        left: -15px;
        height: calc(100vh - 245px);
        overflow-y: auto;
        padding-bottom: 150px;
        .img, .socials {
          display: flex;
          justify-content: center;
        }
      }
      @media (max-width: 767px) {
        top: 0;
        width: calc(100% + 20px);
        left: -10px;
        padding: 5px 18px 150px;
      }
      @media (max-width: 576px) {
        height: calc(100vh - 300px);
      }
      @media (max-width: 420px) {
        height: calc(100vh - 160px);
      }
    }
  }

  .slogan {
    @media (max-width: 1200px) {
      text-align: left;
    }
    @media (max-width: 767px) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  .block-update {
    height: 190px;
    @media (max-width: 576px) {
      height: 125px;
    }
  }

  .socials {
    margin-top: 22px;
    justify-content: center;
    @media (max-width: 1200px) {
      justify-content: flex-start;
      margin-top: 15px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  .header-search {
    display: grid;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 530px;
    height: 38px;
    overflow: hidden;
    margin: 6px;
    grid-template-columns: 1fr 77px;
    gap: 0 3px;
    transition: .3s;
    &.desktop-hide {
      @media (min-width: 768px) {
        display: none;
      }
    }
    @media (max-width: 1600px) {
      max-width: 450px;
    }
    @media (max-width: 1400px) {
      max-width: 350px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
      margin: 6px 0;
    }
    input {
      height: 100%;
      border: none;
      border-right: 1px solid #000;
      padding: 5px 15px;
      color: #000;
      border-radius: 4px;
      box-shadow: inset 0 4px 4px 0 rgba(126, 122, 122, 0.25);
      font-size: 14px;
    }
    .search-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background: #f0f0f0;
      border: none;
      box-shadow: none;
      font-weight: 400;
      font-size: 14px;
      border-radius: 4px;
      padding: 5px 10px;
      cursor: pointer;
      transition: .3s;
      @media (min-width: 1025px) {
        &:hover {
          background: #fff;
        }
      }
    }
  }

  .navbar {
    display: flex;
    gap: 0 1px;
    height: 50px;
    position: relative;
    z-index: 2;
    @media (max-width: 1024px) {
      flex-direction: column;
      height: initial;
      align-items: flex-start;
      gap: 60px;
      margin-bottom: 30px;
      padding: 42px 0px 50px;
    }
    @media (max-width: 767px) {
      gap: 32px;
      padding: 42px 0 35px;
      margin-bottom: 0;
    }
    .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      padding: 0 38px;
      position: relative;
      border-bottom: 2px solid transparent;
      transition: .3s;
      @media (min-width: 1025px) {
        &:hover {
          .nav-text {
            color: #fff;
          }
        }
      }
      @media (max-width: 1400px) {
        padding: 0 30px;
      }
      @media (max-width: 767px) {
        padding: 0;
      }
      .hot {
        width: 37px;
        height: 35px;
        img {

        }
      }
      &.active {
        .nav-text {
          color: #fff;
        }
      }
      @media (min-width: 1025px) {
        &:first-child:after,
        &:before {
          content: '';
          display: block;
          position: absolute;
          right: 1px;
          top: 0;
          width: 1px;
          height: 100%;
          background: $yellow;
        }

        &:first-child:after {
          left: 0;
          right: auto;
        }
      }

      .nav-text {
        font-weight: 700;
        color: $light-grey;
        font-size: 16px;
        transition: .3s;
        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1024px) {
          font-size: 20px;
          font-weight: 700;
          padding: 0;
        }
      }
    }
  }

  .col-1 {
    margin-bottom: 8px;
    @media (max-width: 1200px) {
      padding: 0;
      margin-bottom: 8px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: 767px) {
      align-items: flex-start;
    }
    @media (max-width: 576px) {
      margin-bottom: 0;
    }

    @media (max-width: 420px) {
      width: 210px;
    }
  }
  .col-2 {
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @media (max-width: 1200px) {
      padding: 0;
    }
  }
  .col-3 {
    padding-right: 30px;
    @media (max-width: 1600px) {
      padding: 0;
    }
    @media (max-width: 1200px) {
      display: none;
    }
  }
  .col-4 {
    display: flex;
    align-items: center;
    @media (max-width: 1400px) {
      display: none;
    }
  }

  .block-header-list {
    .title {
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 10px;
      display: block;
      text-align: center;
    }
    .header-list-categories {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      padding-bottom: 10px;
      @media (max-width: 1600px) {
        gap: 12px 20px;
      }
      @media (max-width: 1400px) {
        gap: 10px 5px;
      }
      a {
        font-weight: 700;
        font-size: 16px;
        color: $blue;
        transition: .3s;
        &:hover {
          color: $red;
        }
      }
    }
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  align-items: center;
  span {
    font-weight: 700;
    font-size: 15px;
    white-space: nowrap;
  }
  .social-links {
    flex-shrink: 0;
  }
}

.heading {
  margin-bottom: 10px;
  padding: 0 15px;
  letter-spacing: 2px;
  @media (max-width: 576px) {
    padding: 0;
  }
  .heading-tag-new {
    color: #fff;
    background: $red;
    border: 1px solid #232323;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 2px;
  }
  .heading-title {
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: flex-start;
    gap: 0 15px;
    @media (max-width:1024px) {
      font-size: 30px;
      line-height: normal;
    }
    @media (max-width: 576px) {
      font-size: 22px;
    }
    &.heading-title-second {
      font-size: 30px;
      @media (max-width:1024px) {
        font-size: 25px;
        line-height: normal;
      }
      @media (max-width: 576px) {
        font-size: 22px;
      }
    }
    &.heading-title__center {
      justify-content: center;
    }
  }
}

.block-categories {
  .categories-alphabet-letters {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 10px;
    .item-alphabet-letter {
      background: #FCFF3B;
      border: 1px solid #232323;
      display: block;
      color: #000;
      cursor: pointer;
      padding: 9px 15px;
      min-width: 44px;
      text-align: center;
      border-radius: 5px;
      overflow: hidden;
      transition: .3s;
      font-weight: 700;
      font-size: 30px;
      box-shadow: none;
      @media (min-width: 1025px) {
        &:hover {
          color: $red;
          background: $yellow;
        }
      }
      @media (max-width: 1024px) {
        font-size: 25px;
      }
      @media (max-width: 767px) {
        font-size: 20px;
      }
      &.active {
        pointer-events: none;
        color: #fff;
        background: #232323;
      }
    }
  }
  .item-category {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .letter-category {
      display: block;
      font-weight: 700;
      font-size: 22px;
      line-height: 42px;
      padding: 6px 15px;
      margin-bottom: 4px;
      border-radius: 3px;
      background: #B6E3FE;
      color: rgb(15 16 20 / 40%);
      width: 100%;
      border: 1px solid rgb(15 16 20 / 40%);
      @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .list-categories {
      display: grid;
      padding: 17px 14px;
      border-radius: 3px;
      grid-template-columns: repeat(5, 1fr);
      gap: 12px 35px;
      @media (max-width: 1600px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .link-category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 10px;
      position: relative;
      padding-left: 16px;
      @media (min-width: 1025px) {
        &:hover {
          .name-category {
            color: $red;
          }

          .value-category {
            color: #000;
          }
        }
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 5px;
        border-radius: 100%;
        width: 7px;
        height: 7px;
        background: #646528;
      }

      .name-category {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: $blue;
        @media (max-width: 1024px) {
          font-size: 14px;
        }
      }

      .value-category {
        display: block;
        font-weight: 700;
        font-size: 12px;
        color: #646528;
      }
    }
  }

  .list-categories {
    background: #fff;
    border: 1px solid rgb(15 16 20 / 40%);
  }
}

.list-sites {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px 25px;
  position: relative;
  padding: 25px;
  @media (max-width: 1600px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 420px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .item-sites {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $blue;
    padding-left: 48px;
    position: relative;
    transition: .3s;
    @media (min-width: 1025px) {
      &:hover {
        color: $red;
      }
    }
    @media (max-width: 1024px) {
      font-size: 14px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: -3px;
      width: 30px;
      height: 27px;
      display: block;
      background-position: center;
      background-size: contain;
      background-image:url("../img/gif/casette-small.gif")
    }
  }
}

.bookmarks-ads {
  display: grid;
  gap: 10px;
  grid-template-columns: 200px fit-content(100%) 200px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
  .img {
    max-width: 200px;
    &.last {
      transform: scale(-1, 1);
    }
    @media (max-width: 767px) {
      &.first {
        order: 2;
        margin: 0 auto;
      }
      &.last {
        display: none;
      }
    }
    img {
      max-width: 100%;
    }
  }
  .bookmarks-ads-text {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }
}

.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px 0;
  li {
    @media (min-width: 1025px) {
      &:hover {
        a {
          color: #fff;
        }
      }
    }
    &.page-current {
      a, span {
        background-color: #FCFF3B;
        border: 1px solid #000;
        border-radius: 10px;
        color: #171717;
        pointer-events: none;
      }
    }
  }
  li, .page-current {
    span, a {
      overflow: hidden;
      padding: 0 10px;
      min-width: 44px;
      height: 47px;
      font-weight: 700;
      font-size: 22px;
      line-height: 22px;
      color: $light-grey;
      background: #232323;
      flex: none;
      order: 0;
      flex-grow: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
    }
  }
}